<ion-view view-title="Mes Listes">
  <ion-content>

    <div class="list" ng-controller="homepage">

    	<a ng-repeat="list in lists" class="item item-thumbnail-left" ng-href="section/{{ list.id }}">
    		<i class="ion-clipboard" />
        <span>{{ list.id }}</span>
        <span>{{ list.name }}</span>
    		
    	</a>
    </div>
     <!--  <div>
        <a class="item" nav-direction="forward" ui-sref="section">
          liste 1

          <button class="button button-small">Voir</button>
          <button class="button button-small">Modifier</button>
        </a>

      </div>
      <div>
        <a class="item" nav-direction="forward" ui-sref="section">
          liste 2
        </a>
      </div>
      <div>
        <a class="item" nav-direction="forward" ui-sref="section">
          liste 3
        </a>
      </div>
      <div>
       <a class="item" nav-direction="forward" ui-sref="section">
        liste 4
      </a>
      </div>

      -->

  </ion-content>
</ion-view>