<ion-view view-title="Acceuil">

<ion-content>

  <div class="list">

  	<!--<a ng-repeat="item in items" class="item item-thumbnail-left" ng-href="#/item/{{  }}">
  		<img ng-src="{{ item.image }}">
  		<h2></h2>
  	</a>-->

    <div class="item item-divider">
     Mes Listes
    </div>

    <a class="item" nav-direction="forward" ui-sref="section">
      liste 1
    </a>
    <a class="item" nav-direction="forward" ui-sref="section">
      liste 2
    </a>
    <a class="item" nav-direction="forward" ui-sref="section">
      liste 3
    </a>
     <a class="item" nav-direction="forward" ui-sref="section">
      liste 4
    </a>

  </div>

</ion-content>
</ion-view>