<ion-view view-title="Produits">
<ion-content padding="true" >

<div class="list">

	<!--<a ng-repeat="item in items" class="item item-thumbnail-left" ng-href="#/item/{{  }}">
		<img ng-src="{{ item.image }}">
		<h2></h2>
	</a>-->
  
    
    


<a class="item item-thumbnail-left" href="#">
  
  <img src="http://placehold.it/140x100">
  <h2>Cammenbert</h2>
  <p>marque : le petit</p>
  <div class="right">
    <span class="qut">quantité : <span>2</span></span>
    <div class="button button-balanced button-small"><i class="ion-chevron-up"></i></div>
    <div class="button button-balanced button-small"><i class="ion-chevron-down"></i></div>
  </div>
</a>

<a class="item item-thumbnail-left" href="#">
  <img src="http://placehold.it/140x100">
  <h2>Cammenbert</h2>
  <p>président</p>
</a>
<a class="item item-thumbnail-left" href="#">
  <img src="http://placehold.it/140x100">
  <h2>Chaussé aux moines</h2>
  <p></p>
</a>
</div>

</ion-content>
</ion-view>
