<ion-view view-title="Mes Listes">
  <ion-content>

    <div class="list" ng-controller="homepage">


      <div ng-repeat="list in lists" class="row item item-thumbnail-left" >
        
        <a class="col col-67" ng-href="section/{{ list.id }}">
        
          <span>{{ list.id }}</span>
          <span>{{ list.name }}</span>
          elementId {{lists.elementId}}

        </a>
        <div class="col col-33">
          <button class="button button-small">Voir</button>
          <button class="button button-small" ui-sref="scanner" >Modifier</button>
        </div>
        <hr>

      </div>
      
    </div>

    


  </ion-content>
</ion-view>