<ion-view view-title="Choix du magasins">
	<ion-content>


		<div class="card">
			<div class="item item-text-wrap">
				<a ng-href="">
					Je connais le magasin pour cette liste.
				</a>
			</div>
		</div>

		<div class="divider"></div>
		
		<div class="card">
			
			<div class="item item-text-wrap">
				<a ng-href="#/app/estimate/{{listId}}">
				Proposez moi le magasin le moins chers pour cette liste.
				</a>
			</div>
		
		</div>

<!-- <span bottom-nav></span> -->

	</ion-content>
</ion-view>
