<ion-view view-title="Classement">
 <ion-content> 

 <div ng-controller="EstimateCtrl" ng-repeat="shop in shopList" class="list item item-thumbnail-left">
     <!-- <img ng-src="{{shop.urlImage}}"/>  -->
     <!-- <a ng-click="LinkShopList(listId, shop.idshop)"> -->

     <!-- id : {{shop.idshop}} -->
          <a ng-click="estimate()">
               <div class=" row ">
                    <div class="col col-50"> 
                         
                                  {{shop.name}}<br>
                                   {{shop.adresse}}<br>
                                   Eléments manquants : {{shop.missingelement}}
                         
                    </div>
                    
                   
               </div>
               <div class=" row">
               <div class="col col-25">
                         Distance : <span class="estimate-price">{{shop.distance | number:2}} km </span>
                    </div>&nbsp;
                    <div class="col col-25 ">
                          Prix total : <span class="estimate-price">{{shop.totalprice | number:2}} €</span>
                         
                    </div>
               </div>
          </a>
          
</div>

</ion-content>
</ion-view>
