<ion-view view-title="Classement">
 <ion-content> 

 <div ng-controller="LinkShopListCtrl" ng-repeat="shop in shopList" class="row list">
     <!-- <img ng-src="{{shop.urlImage}}"/>  -->
     <a ng-href="#/app/linkshoplist/listId/{{listId}}-{{shop.id}}">
     id : {{shop.id}}
     Magasin : {{shop.name}}
     Prix total {{shop.prixtotal}} € 
     Distance : {{shop.distance | number:2}} km
     Element manquants {{shop.elementmanquant}}
    </a>

     <!--  <div class="col">Magasin : {{shop.name}} </div>
     <div class="col">Prix total {{shop.prixtotal}} € </div>
     <div class="col">Distance : {{shop.distance | number:2}} km </div>
     <div class="col">Element manquants {{shop.elementmanquant}} </div>
     <div class="col button button-small button-positive">Je choisi ce magasin{{shop.id}} </div> -->
</div>

</ion-content>
</ion-view>
