<ion-view view-title="Mes Listes" >
<ion-content>


<ion-list ng-controller="HomepageCtrl">

<div ng-repeat="list in lists" class="row item item-thumbnail-left" >

    <div class="col-60">
      <div class="row">
        <div class="col-75">
         
         <span class="list-name">{{ list.name }}</span>
         <div class="col col-50">
           
           <span class="shop-name">{{ list.shop.name}}</span>
         </div>
         <div class="col col-50">
           <span>{{ list.shop.address.streetName}}</span>
           <span>{{ list.shop.address.city}}</span>
          </div>
          <div class="col col-50 nb-product">
           <span>Nombre de produits :  {{ list.qty }}</span>
         </div>
        </div>
       </div>
       </div>
   
    <div class="col col-40">
      <div class="row">
        <a class="button button-small button-balanced col btn-modifier" ng-href="#/app/sections/{{list.id}}">Modifier</a>
        <a class="button button-small button-energized col btn-voir" ng-href="#/app/shoptime/{{list.id}}">Voir</a>
      </div>
    </div>

</div>

</ion-list>

</ion-content>
</ion-view>