

<ion-view view-title="Mes Listes">
 <ion-content>

   <div class="list" ng-controller="HomepageCtrl">


   	<div ng-repeat="list in lists" class="row item item-thumbnail-left" >
       
       <!-- a class="col col-67" ng-href="section/{{ list.id }}" -->
       <a class="col col-67" ng-href="#/app/sections/{{list.id}}">
       
         <span>{{ list.id }}</span>
         <span>{{ list.name }}</span>
         elementId {{lists.elementId}}

   	</a>
       <div class="col col-33">
         <button class="button button-small">Voir</button>
         <button class="button button-small">Modifier</button>
       </div>
       <hr>

   	</div>
   </div>

   
    <!--  <div>
       <a class="item" nav-direction="forward" ui-sref="section">
         liste 1

         
       </a>

     </div>
     <div>
       <a class="item" nav-direction="forward" ui-sref="section">
         liste 2
       </a>
     </div>
     <div>
       <a class="item" nav-direction="forward" ui-sref="section">
         liste 3
       </a>
     </div>
     <div>
      <a class="item" nav-direction="forward" ui-sref="section">
       liste 4
     </a>
     </div>

     -->

 </ion-content>
</ion-view>