
<ion-modal-view>
<ion-header-bar>
      <h1 class="title">Association</h1>
</ion-header-bar>
<ion-content>

    <div class="card">
  <div class="item item-divider">
    {{shop.name}} {{shop.adresse}}
  </div>
  <div class="item item-text-wrap">
   Confirmer l'association de ce magasin pour cette liste
  <div class="item item-divider">
  	<div class="row">
	   	<a class="col button button-outline button-full button-positive" ng-click="LinkShopList(listId, shop.idshop)">Valider</a>
	    <a class="col button button-outline button-full button-assertive" ng-click="closeEstimate()">Annuler</a>
    </div>
  </div>
</div>

</ion-content>
</ion-modal-view>