<ion-view view-title="Produits {{listId}}">
<ion-content>

<div class="list">



 <div ng-repeat="product in products.products" class="row item item-thumbnail-left product-detail">



   <div class="col col-33">

     <img ng-src="{{ product.url }}">
   </div>

   <div class="col col-33">
     <h3> Marque : {{product.brand}}</h3>
     <p>Produit: {{product.name}}</p>
     <p>Poid/volume: {{product.unitName}}</p>
     <p>id: {{product.id}}</p>

   </div>

   <div class="col col-33" ng-model="product" ng-controller="ProductsCtrl as $p" >

     <div>
       <span ><h2>Quantité : {{$p.userdata.getProductQuantity(listId,product.id)}}</h2></span>
     </div>

     <!-- <div class="button button-balanced button-small"  ng-click="addToList(productQuantity,+1,{{product}})"><i class="ion-chevron-up"></i> -->
     <div class="button button-balanced button-small"  ng-click="addToList(($p.userdata.getProductQuantity(listId,product.id)+1),listId,product.id)"><i class="ion-chevron-up"></i>
     </div>

     <div class="button button-balanced button-small"  ng-click="addToList(($p.userdata.getProductQuantity(listId,product.id)-1),listId,product.id)"><i class="ion-chevron-down"></i>
     </div>
     <!-- <div class="button button-balanced button-small"  ng-click="addToList(productQuantity,-1,{{product}})"><i class="ion-chevron-down"></i>
     </div> -->
     <div class="button button-assertive button-small"  ng-click="addToList(0,listId,product.id)"><i class="ion-close-circled"></i>
     </div>
   </div>

   <hr>

 </div>
</div>
</ion-content>
</ion-view>