<ion-view view-title="Rayons" >
 <ion-content>
   <div class="row" ng-controller="SectionsCtrl ">

     <div class="item item-input col col-50" >
       <input type="text" ng-model="listName" placeholder="Nom de la liste de course">
     </div>
       
       <div class="col-50 btn-margin">
        <div class="row">
         <span class="col col-50 button button-outline button-positive" ng-click="saveSectionListName()">Valider</span>
         <span class="col col-50 button button-outline button-assertive" ng-click="clearSectionListName()">Effacer</span>
         </div>
       </div>
   </div>



   <div class="item item-divider"></div>


     <a ng-repeat="section in sections" class="item item-thumbnail-left" ng-href="#/app/categories/{{section.id}}">
       <img ng-src="{{section.urlImage}}" />
       <h2 class="section-name">{{section.name}}</h2>
       <h3>{{section.description}}</h3>
       
     </a>

<!-- <span bottom-nav></span> -->

 </ion-content>
</ion-view>

