<ion-view view-title="Mes courses">
<ion-content>

<ion-list ng-controller="ShoptTimeCtrl">

   
  <div ng-repeat="element in listshoptime " class="row item item-thumbnail-left">
   
      <div class="col col-60  product-detail overF">
        <div>
          <h3 class="list-name"> Marque : {{element.product.brand}}</h3>
          <p class="shop-name">Produit: {{element.product.name}}</p>
          <p class="shop-name">Poids/volume: {{element.product.unitName}}</p>
          <p class="nb-product">Quantité: {{element.productQuantity}}</p>
        </div>
            
      </div>

      
      <div class="col col-40">
           
           <span class="row shoptime-check-cart">
              
              <span class="col col-50" ng-if="element.isInBasket == true ">
                
                <i class="ion-ios-cart"></i>
                
              </span>
              <span class="col col-50" ng-if="element.isInBasket == false ">

                <i class="ion-ios-cart-outline"></i>
                
              </span>
              
              <span class="col col-50">
                <label class="checkbox">
                  <input type="checkbox" ng-click="checkboxBasket(element.isInBasket,element.id)" ng-model="element.isInBasket" />
                </label>
              </span>

           </span>
           <hr>

           <div class="row">
              <span class="col col-50">
                <input class="price" ng-model="element.product.shopProducts[0].price" type="text" placeholder="{{element.product.shopProducts[0].price}} " size="10"/>
              </span>
              <span class="col col-10 euro">€</span>
              
           </div>
           
           <div class="row">
              <span class="col col-100">
                <button ng-click="setPrice(element.product.shopProducts[0].price,element.product.id,element.shoppingList.shop.id)" class="button button-outline button-block button-balanced">Valider</button>
              </span>     
           </div>
                <!-- <input type="checkbox" ng-click="checkboxBasket(element.isInBasket,element.id)"  ng-checked="element.isInBasket == 'true'"  /> -->
          
      </div>

  </div>
</ion-list>

<div class="row">

    <!-- <a class="button col button-energized" ng-click="scanBarcode()"> -->
    <a class="col button button-outline button-energized" ng-href="#/app/selecCategory/{{listshoptime.listId}}">
   
       Nouveau produit
    </a>
    <a class="col button button-outline button-assertive" ng-href="#/app/homepage">
        Fini
    </a>

</div>


</ion-content>
</ion-view>