<ion-view view-title="Produits {{listId}}">
<ion-content>

<div class="list">
div list des produits seb
<div ng-repeat="element in listshoptime " class="row item item-thumbnail-left product-detail">
   <div class="col col-33">
    <img ng-src="{{ product.url }}" >
   </div>

  <div class="col col-75">
    <div>
    <h3> Marque : {{element.product.id}}</h3>
    <p>Produit: {{element.product.name}}</p>
    <p>Poids/volume: {{element.product.unitName}}</p>
    </div>
</div>
</div>
<div >
   <div class="row" col col-100>
<button class="button col col-50 button-energized" ng-click="scanBarcode()">
   Ajouter un nouveau produit
</button>

<button class="button col col-50 button-assertive">
Fini
</button>
</div>
</div>



</ion-content>
</ion-view>