/* Empty. Add your own CSS if you like */
img {
    height: auto;
    max-width: 100%;
}
/*.bar-stable{
	-webkit-box-shadow: 3px 4px 64px 2px rgba(209,205,209,1);
-moz-box-shadow: 3px 4px 64px 2px rgba(209,205,209,1);
box-shadow: 3px 4px 64px 2px rgba(209,205,209,1);
}*/
a {
	text-decoration: none;
	font-size: 1.0em;
    font-weight: bold;
    color: #129f8d;
}
.btn-voir{
	margin: 5px;
	
}

.btn-modifier{
	margin: 5px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  /*padding: 10px;*/
}

/* Might want to wrap a span around your checkbox text */
input[type=text]{
  font-size: 23px;
  font-weight: bold;
}
.price{
	background-color: #E1E1E1;
  margin: 0;
  font-size: 23px;
  text-align: right;
}
.shop-name{
  font-weight: bold;
}
.list-name{
  font-weight: bold;
  color: #13baba;
  font-size: 18px;
}
.section-name .category-name{
  font-weight: bold;
  color: #13baba;
  font-size: 23px;
}
.category-name{
  font-weight: bold;
  color: #13baba;
  font-size: 23px;
}
.nb-product{
  font-weight: bold;
  font-style: italic;
  color: orange;
}
.product-quantity{
  font-weight: bold;
  font-style: italic;
  color: #13baba;
  font-size: 28px;
}
.btn-margin{
  margin: 2px;
}
.overF{
  overflow: hidden;
}
.wordW{
  word-wrap: break-word;
}
.euro{
  color: #13baba;
  font-size: 28px;

}

.ion-android-cart {
  font-size: 56px;
}

.ion-ios-cart-outline {
  font-size: 56px;
}

.ion-ios-cart{
  font-size: 56px;
}
.distance{
 font-size: 15px; 
 color: #49903E;
}
.estimate-price{
 font-size: 15px; 
 color: #D72020;
}
















































